@*<footer class="footer text-center py-4 fixed-bottom">
    <small class="copyright">  @(Resources.DataDictionary.CreateBy) @(Resources.DataDictionary.SiteAuthor) <a href="https://github.com/AmBplus" target="_blank">
        GitHub</a></small>
</footer>
*@
<footer class="footer text-center py-4">
    <small class="copyright">  @(Resources.DataDictionary.CreateBy) @(Resources.DataDictionary.SiteAuthor) <a href="https://github.com/AmBplus" target="_blank">
        GitHub</a></small>
</footer>