@{
    ViewData["Title"] = "Home Page";
}

<main class="main-wrapper">

    <partial name="PartialViews/_AboutMe"/>
    <div class="container">
        <hr>
    </div>
    <partial name="PartialViews/_SpicialProject"/>
    <partial name="PartialViews/_LatestAticles"/>
    
<partial name="PartialViews/_Footer" />
</main>