@model Models.ContextViewModel
@{
    ViewData["Title"] = "Home Page";
    string currentCulture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;

}
 

<main class="main-wrapper">

    <partial name="PartialViews/_AboutMe"/>
    <div class="container">
        <hr>
    </div>
    <partial name="PartialViews/_SpicialProject" model="@Model.ProjectListModel"/>
    <partial name="PartialViews/_LatestAticles" model="@Model.ArticleListModel"/>
    
    <partial name="PartialViews/_Footer" />
</main>

